@font-face {
    font-family: Cera-semibold;
    src: url(fonts/CeraPro-Medium.woff2);
}
@font-face {
    font-family: Cera-normal;
    src: url(fonts/CeraPro-Regular.woff);
}
@font-face {
    font-family: Cera-bold;
    src: url(fonts/CeraPro-Bold.woff2);
}


*{
    padding: 0;
    margin: 0;
}
.wrap-header {
    width: 100%;
    height: 47vh;
}

.nav {
    font-family: 'Cera-normal';
}
.wrap-a {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    list-style-type: none;
    font-size: 25px;
    margin: -40px 50px 0 0;
}
.wrap-a a {
    margin-left: 3%;
    color: white;
}
.wrap-a a:hover {
    text-decoration: underline;
}
.a-replace {
    display: none;
}
.dropbtn {
    color: white;
    border: none;
    font-size: 25px;
    font-family: 'Cera-semibold';
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin: -50px 20px 0 0;
}
.dropdown {
    position: absolute;
    display: inline-block;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: -10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 10%;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.bg-img {
    object-fit: cover;
    width: 100%;
    height: 47vh;
}

.wrap-logo {
    margin-left: 50px;
    margin-top: -45vh;
    width: 130px;
}
.logo-header {
    width: 100%;
    height: auto;
}

.wrap-header-text {
    color: white;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: 'Cera-semibold';
}
.header-text {
    width: 100%;
    font-size: 52px;
    font-family: 'Cera-bold';
    line-height: 55px;
}

.active-nav {
    font-weight: 600;
    text-decoration: underline;
}
/***********************************************************/

.wrap-assets-section {
    border-bottom: 1px solid rgb(195, 195, 195);
}

.wrap-btns {
    display: flex;
    width: 100%;
}

.wrap-btn {
    padding: 50px 40px 0px 40px;
}

.btn {
    cursor: pointer;
    border: none;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Cera-semibold';
}

.active {
    font-weight: 600;
    border-bottom: 5px solid rgb(0, 128, 255);
}
/***********************************************************/


.wrap-content-boardcast, .wrap-content-publishing {
    padding: 130px 160px 100px 160px;
}
.content-container {
    display: flex;
    justify-content: space-between;
}
.cont1, .cont2 {
    font-size: 34px;
    line-height: 35px;
    font-family: 'Cera-semibold';
    color: black;
}
.cont1 {
    width: 60%;
}
.cont1-txt {
    margin-top: 40px;
}
.cont2 {
    width: 25%;
}
.cont2-txt {
    max-width: 200px;
    margin-top: 40px;
}

.wrap-content-img {
    margin-top: 210px;
    width: 200px;
    height: auto;
}
/***********************************************************/


.footer {
    border-top: 2px solid rgb(0, 128, 255);
}
.footer-wrap {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
.wrap-footer-img {
    width: 236px;
    height: auto;
    margin-left: 72px;
}
.footer-img {
    width: 100%;
}
.wrap-footer-linked {
    width: 42px;
    height: auto;
    margin-right: 70px;
}
.wrap-footer-text {
    font-size: 30px;
    font-family: 'Cera-semibold';
    line-height: 35.2px;
    margin: 50px 0 15px 72px;
    color: black;
}
.col {
    width: 300px;
    padding: 10px;
}
.nav {
    font-family: 'Cera-normal';
}
.footer-nav {
    padding: 40px 0 40px 80px;
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-title {
    color: black;
    font-size: 35px;
    font-family: 'Cera-bold';
}
.footer-nav-cat {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: none;
    font-family: 'Cera-semibold';
    font-weight: 500;
}
.footer-a {
    font-size: 20px;
    width: 100%;
    color: black;
    text-decoration: none;
    margin-top: 2px;
}
.footer-a:hover {
    color: rgb(69, 89, 240);
    font-weight: 600;
}



/***********************************************************/
.wrap-img{
    max-width: 400px;
    height: auto;
}
.wrap-img-medium {
    max-width: 300px;
    height: auto;
}
.wrap-img-smaller {
    max-width: 200px;
    height: auto;
}
.assets-img {
    width: 100%;
}
ul {
    list-style:disc;
    margin: 20px 40px 20px 40px;
}
.big-space {
    margin-top: 180px;
}
.top {
    margin-top: 140px;
}
a {
color: black;
}
a:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    .a-replace {
        display: block;
    }
    .wrap-a {
        display: none;
    }
    .footer {
        padding: 50px 20px;
    }
    .footer-nav {
        padding: 0;
    }
    .wrap-btns {
        margin: 0;
    }
    .wrap-btn {
        padding: 30px 20px 0px 20px;
    }
    .btn {
        font-size: 26px;
    }


    .content-container {
        display:block;
    }
    .wrap-content-boardcast, .wrap-content-publishing {
        padding: 100px 90px 100px 90px;
    }

    .cont1 {
        width: 100%;
    }
    .cont1-txt {
        margin-top: 20px;
    }
    .cont1, .cont2 {
        font-size: 20px;
        line-height: 20px;
    }

    .wrap-content-img {
        margin-top: 40px;
        width: 130px;
    }
}
@media (max-width: 800px) {
    .wrap-content-boardcast, .wrap-content-publishing {
        padding: 50px 20px;
    }

    .wrap-logo {
        margin-left: 20px;
    }
    .footer-nav {
        padding: 0;
        width: 100%;
        display: block;
        text-align: center;
    }
    .col {
        width: 100%;
    }
    .text-section {
        padding: 10px 20px 50px 20px
    }
    .text {
        padding-top: 60px;
        font-size: 20px;
        line-height: 30px;
    }
    .blue-section-wrap {
        padding: 0px 20px 60px 20px;
    }
    .section {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .art1, .art2 {
        width: 100%;
        padding-top: 60px;
    }
    .art-content {
        font-size: 18px;
    }
}
@media (max-width: 600px) {
    .wrap-header-text {
        font-size: 70px;;
    }
    .wrap-btn {
        padding: 25px 15px 0px 15px;
    }
    .wrap-content-boardcast, .wrap-content-publishing {
        padding: 30px 10px;
    }
    .btn {
        font-size: 22px;
    }
}
@media (max-width: 470px) {
    .wrap-btn {
        padding: 20px 10px 0px 10px;
    }
    .wrap-content-boardcast, .wrap-content-publishing {
        padding: 20px 20px;
    }
    .btn {
        font-size: 20px;
    }
}
@media (max-width: 390px) {
    .btn {
        font-size: 18px;
    }
}