@font-face {
    font-family: Cera-header;
    src: url(fonts/CeraPro-Regular.woff2);
}
@font-face {
    font-family: Cera-semibold;
    src: url(fonts/CeraPro-Medium.woff2);
}


*{
    padding: 0;
    margin: 0;
}
.wrap-header {
    width: 100%;
    height: 110vh;
}

.bg-img {
    width: 100%;
    height: 110vh;
}

.wrap-logo {
    margin: 0px 0px 0px 50px;
    margin-top: -107vh;
    width: 130px;
}
.logo-header {
    width: 100%;
    height: auto;
}

.wrap-header-text {
    margin-top: 60px;
    color: white;
    max-width: 950px;
    padding: 7% 0px 0px 8%;
}
.header-text {
    width: 100%;
    font-size: 52px;
    font-family: 'Cera-header';
    line-height: 55px;
}

.banner {
    width: 100%;
    height: 150px;
    background-color: rgb(0, 128, 255);
}
.wrap-logos {
    display: flex;
}

.map-container {
    padding: 0 200px;
}
.wrap-map-title, .wrap-career-title {
    margin-top: 150px;
}
.map-title, .career-title {
    font-size: 50px;
    line-height: 60.34px;
    font-family: 'Cera-semibold';
}
.address {
    font-size: 30px;
    font-family: 'Cera-semibold';
    line-height: 35.2px;
    margin: 20px 0;   
}

.map {
    width: 100%;
    height: 650px;
}

.wrap-map-contact {
    margin: 100px 0;
}
.text-wrap {
    margin-bottom: 20px;
}

.wrap-linked {
    width: 42px;
    height: 42px;
}
.linked {
    width: 100%;
    height: 100%;
}

.wrap-news-section {
    background-color: rgb(0, 128, 255);
    display: flex;
    flex-direction: column;
    padding: 0 150px;
}
.wrap-container {
    margin: 100px 0 130px 0;
}
.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.wrap-img {
    width: 450px;
    height:auto;
    margin: 0 30px;
}
.img {
    width: 100%;
}


.wrap-career {
    padding: 0 150px;
    margin-bottom: 200px;
}

.content {
    font-size: 30px;
    font-family: 'Cera-semibold';
    line-height: 35.2px;
    margin: 20px 0 0 0; 
}
.wrap-link {
    display: flex;
    align-items: center;
}
.link {
    font-size: 30px;
    font-family: 'Cera-semibold';
    line-height: 35.2px;
    text-decoration: none;
    color: black;
    margin-left: 10px;
}


.footer {
    border-top: 2px solid rgb(0, 128, 255);
}
.footer-wrap {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
.wrap-footer-img {
    width: 236px;
    height: auto;
    margin-left: 72px;
}
.footer-img {
    width: 100%;
}
.wrap-footer-linked {
    width: 42px;
    height: auto;
    margin-right: 70px;
}

.wrap-footer-text {
    font-size: 30px;
    font-family: 'Cera-semibold';
    line-height: 35.2px;
    margin: 50px 0 15px 72px;
}



@media (max-width: 785px) {
    .wrap-header-text {
        margin-top: 40px;
        max-width: 500px;
    }
    .header-text {
        font-size: 38px;
        line-height: 45px;
    }
    .map-container {
        padding: 0;
    }
    .wrap-map-title, .wrap-career-title {
        margin-top: 100px;
    }
    .wrap-news-section {
        padding: 0;
    }
    .container {
        margin-top: 20px;
    }
    .wrap-container {
        margin: 30px 0 40px 0;
    }
    .wrap-img {
        margin: 0 5px;
    }
    .wrap-career {
        padding: 0;
    }
    .wrap-career {
        padding: 0 20px;
        margin-bottom: 100px;
    }
    .map-container {
        padding: 0 20px;
    }
}
@media (max-width: 580px) {
    .link {
        margin: 0;
    }
    .wrap-link {
        margin: 0;
        flex-direction: column;
        align-items: start;
    }
    .address {
        font-size: 25px;
    }
    .map-title, .career-title {
        font-size: 45px;
    }
    .wrap-footer-img {
        margin-left: 20px;
    }
    .wrap-footer-linked {
        margin-right: 20px;
    }
    .wrap-footer-text {
        width: 225px;
        font-size: 26px;
        margin: 30px 0 15px 20px;
    }
}
@media (max-width: 445px) {
    .wrap-header-text {
        margin-top: 20px;
        max-width: 400px;
        padding: 20px;
    }
    .header-text {
        font-size: 35px;
        line-height: 45px;
    }
    .link {
        font-size: 28px;
    }
}
@media (max-width: 406px) {
    .wrap-header-text {
        margin-top: 20px;
        max-width: 370px;
    }
    .header-text {
        font-size: 32px;
        line-height: 45px;
    }
    .link {
        font-size: 26px;
        margin-left: 0px;
    }

    .wrap-link {
        flex-direction: column;
    }
}
@media (max-width: 380px) {
    .wrap-header-text {
        margin-top: 20px;
        max-width: 370px;
    }
    .header-text {
        font-size: 29px;
        line-height: 45px;
    }
    .link {
        font-size: 25px;
    }
}
@media (max-width: 362px) {
    .header-text {
        font-size: 28px;
        line-height: 40px;
    }
    .link {
        font-size: 18px;
    }
}