
@font-face {
    font-family: Cera-semibold;
    src: url(fonts/CeraPro-Medium.woff2);
}
@font-face {
    font-family: Cera-normal;
    src: url(fonts/CeraPro-Regular.woff);
}
@font-face {
    font-family: Cera-bold;
    src: url(fonts/CeraPro-Bold.woff2);
}


*{
    padding: 0;
    margin: 0;
}
.wrap-header {
    width: 100%;
    height: 110vh;
}


.wrap-a {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    list-style-type: none;
    font-size: 25px;
    margin: -40px 50px 0 0;
}
.wrap-a a {
    margin-left: 3%;
    color: white;
    text-decoration: none;
}
.a-replace {
    display: none;
}
.dropbtn {
    color: white;
    border: none;
    font-size: 25px;
    font-family: 'Cera-semibold';
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin: -50px 50px 0 0;
}
.dropdown {
    position: absolute;
    display: inline-block;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: -10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 10%;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.bg-img {
    object-fit: cover;
    width: 100%;
    height: 110vh;
}

.wrap-logo {
    margin-left: 50px;
    margin-top: -107vh;
    width: 130px;
}
.logo-header {
    width: 100%;
    height: auto;
}

.wrap-header-text {
    margin-top: 100px;
    color: white;
    max-width: 950px;
    padding: 7% 0px 0px 8%;
}
.header-text {
    width: 100%;
    font-size: 52px;
    font-family: 'Cera-bold';
    line-height: 55px;
}


.logos-section {
    background-color: rgb(0, 128, 255);
}
.logos-section .logos-container {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: rgb(0, 128, 255);
    padding: 40px 0;
}
.logos-section .logos-container .logo-wrap-inner {
    width: auto;
    max-width: 150px;
    display: flex;
    justify-content: center;
}
.big {
    max-width: 50px;
}


.wrap-news-section {
    background-color: rgb(0, 128, 255);
    display: flex;
    flex-direction: column;
    padding: 0 150px;
}
.wrap-container {
    margin: 100px 0 130px 0;
}
.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.wrap-img {
    transition: all .3s;
    max-width: 450px;
    width: 450px;
    height:auto;
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}
.wrap-img img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}
.wrap-img:hover img {
    transform: scale(1.1); /* Scale up the image on hover */
}
.logo {
    max-width: 200px;
    width: 100%;
    height: auto;
    position: absolute;
}
.smaller {
    max-width: 80px
}


.wrap-omilos {
    max-width: 1200px;
    padding: 0 150px;
    margin: 150px 0 200px 0;
}

.content {
    font-size: 35px;
    font-family: 'Cera-semibold';
    line-height: 50px;
    margin: 20px 0 0 0;     
}
.wrap-about {
    margin-top: 60px;
}
.about {
    font-size: 40px;
    font-family: 'Cera-semibold';
}


.footer {
    border-top: 2px solid rgb(0, 128, 255);
}
.footer-wrap {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
.wrap-footer-img {
    width: 236px;
    height: auto;
    margin-left: 72px;
}
.footer-img {
    width: 100%;
}
.wrap-footer-linked {
    width: 42px;
    height: auto;
    margin-right: 70px;
}
.wrap-footer-text {
    font-size: 30px;
    font-family: 'Cera-semibold';
    line-height: 35.2px;
    margin: 50px 0 15px 72px;
}


.wrap-articles {
    padding: 200px 65px;
}
.articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrap-art {
    max-width: 555px;
    border: 2px solid rgb(0, 128, 255);
}
.img-wrap {
    width: 555px;
    height: 760px;
}
.art-img {
    width: 100%;
    height: 100%;
}
.text-wrap {
    padding: 15px;
    font-family: 'Cera-semibold';
    font-Size: 25px;
    line-height: 30px;
}
.more {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    font-family: 'Cera-semibold';
}


.wrap-finances {
    background-color: rgb(0, 128, 255);
    padding: 100px 80px;
    color: white;
}
.wrap-finances-title {
    font-size: 90px;
    font-family: 'Cera-normal';
}
.categories {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.wrap-cat {
    width: 480px;
    height: auto;
    font-size: 50px;
    font-family: 'Cera-semibold';
}


.wrap-report {
    padding: 100px 0 200px 80px;
}
.report-title {
    font-size: 90px;
    font-family: 'Cera-normal';
    color: rgb(0, 128, 255);
    font-weight: 900;
    margin-bottom: 80px;
}
.report-subtitle {
    font-size: 50px;
    font-family: 'Cera-normal';
    font-weight: 900;
    margin-bottom: 40px;
}
.wrap-stats{
    display: flex;
    flex-direction: row;
    margin-left: -4%;
}
.stat {
    font-size: 18px;
    font-weight: 800;
    font-family: 'Cera-normal';
    margin-left: 4%;
}
.color {
    color: red;
}
.flex {
    display: flex;
    justify-content: start;
}

a:hover {
    color: #aeaeae;
}




@media (max-width: 1023px) {
    .logos-section .logos-container {
        height: 270px;
    }
    .logo-wrap-inner {
        margin-top: 20px;
    }
}
@media (max-width: 880px) {
    .a-replace {
        display: block;
    }
    .wrap-a {
        display: none;
    }
  
    .dropdown-content a {
      padding: 10px 12px;
    }
    .wrap-articles {
        padding: 60px 10px;
    }
    .articles {
        flex-direction: column;
        align-items: center;
    }
    .wrap-art {
        margin-bottom: 20px;
    }
    .img-wrap {
        width: 100%;
        height: 550px;
    }
    .more {
        margin-top: 10px;
    }
    .wrap-finances-title {
        font-size: 60px;
    }
    .wrap-finances {
        padding: 40px 10px 50px 10px;
    }
    .categories {
        padding-top: 20px;
        flex-direction: column;
    }
    .wrap-cat {
        width: 100%;
        height: auto;
        font-size: 30px;
        padding-top: 30px;
    }
}
@media (max-width: 785px) {
    .wrap-header-text {
        margin-top: 100px;
        max-width: 500px;
    }
    .header-text {
        font-size: 38px;
        line-height: 45px;
    }
    .map-container {
        padding: 0;
    }
    .wrap-news-section {
        padding: 0;
    }
    .wrap-container {
        margin: 30px 0 40px 0;
    }
    .container {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wrap-img {
        width: 310px;
        margin: 5px 30px;
    }
    .wrap-omilos {
        padding: 0 20px;
        margin-bottom: 100px;
    }
}
@media (max-width: 580px) {
    .wrap-header-text {
        margin-top: 160px;
    }
    .wrap-logo {
        margin-left: 20px;
    }
    .link {
        margin: 0;
    }
    .wrap-link {
        margin: 0;
        flex-direction: column;
        align-items: start;
    }
    .career-title {
        font-size: 45px;
    }
    .wrap-footer-img {
        margin-left: 20px;
    }
    .wrap-footer-linked {
        margin-right: 20px;
    }
    .wrap-footer-text {
        width: 225px;
        font-size: 26px;
        margin: 30px 0 15px 20px;
    }
    .dropbtn {
        margin: -50px 20px 0 0;
    }
    .wrap-articles {
        padding: 60px 10px;
    }
    .articles {
        flex-direction: column;
    }
    .img-wrap {
        width: 100%;
        height: 550px;
    }
    .wrap-art {
        margin-bottom: 20px;
    }
    .more {
        margin-top: 10px;
    }
    .wrap-omilos {
        margin: 100px 0 100px 0;
    }
    .logos-section .logos-container {
        height: 250px;
    }
    .content {
        font-size: 25px;
        line-height: 30px;
    }
    .wrap-about {
        margin-top: 40px;
    }

}
@media (max-width: 445px) {
    .wrap-header-text {
        max-width: 400px;
        padding: 20px;
    }
    .header-text {
        font-size: 32px;
        line-height: 45px;
    }
    .link {
        font-size: 28px;
    }
}
@media (max-width: 406px) {
    .wrap-header-text {
        max-width: 370px;
    }
    .header-text {
        font-size: 28px;
        line-height: 45px;
    }
    .link {
        font-size: 26px;
        margin-left: 0px;
    }

    .wrap-link {
        flex-direction: column;
    }
}
@media (max-width: 380px) {
    .wrap-header-text {
        max-width: 370px;
    }
    .header-text {
        font-size: 29px;
        line-height: 45px;
    }
    .link {
        font-size: 25px;
    }
}
@media (max-width: 362px) {
    .header-text {
        font-size: 28px;
        line-height: 40px;
    }
    .link {
        font-size: 18px;
    }
}